.contactpage {
  margin-top: 16vh;
  position: relative;
  font-family: $headingfont;
  a {
    color: black;
    text-decoration: none;
    &:hover {
      color: $babyblue;
    }
  }
  display: flex;
  align-items: center;
  @media (max-width: $ipadmedia) {
    display: block;
  }
}
.contact__left_col {
  flex-grow: 1;
  margin-left: 1em;

  .contact__pri_header {
    font-size: 3em;
    font-weight: bold;
    position: absolute;
    top: 0;
    @media (max-width: $ipadmedia) {
      position: relative;
      margin-bottom: 1em;
    }
  }
  .contact__sec_header {
    font-size: 2em;
    @media (max-width: $iphonemedia) {
      margin-bottom: 1em;
    }
  }
  p {
    margin: 2.5% 0;
    font-size: 1.25em;
    @media (max-width: $iphonemedia) {
      margin-bottom: 1em;
    }
  }
}

.contact__form {
  flex-grow: 2;
  align-self: center;
  display: flex;
  flex-direction: column;
  margin-right: 2%;
  label {
    font-size: 1.25em;
    margin-bottom: 10px;


    @media (max-width: $ipadmedia) {
      margin-left: 16px;
    }
  }
  input,
  textarea {
    height: 75px;
    width: 100%;
    border: none;
    border-bottom: 2px solid #eee;
    font-size: 2em;
    resize: none;
    text-align: center;
    @media (max-width: $ipadmedia) {
      width: 80%;
      margin: 0 auto;
      text-align: center;
    }
  }
  textarea{
    height: 120px;
    text-align: left;
  }
  #submitButton {
    margin: 15px 0;
    width: 50%;
    border: 2px solid $browngold;
    align-self: center;
    background-color: black;
    color: #fff;
    text-transform: uppercase;
    &:focus,
    &:hover {
      background-color: #fff;
      color: #000;
      cursor: pointer;
    }
  }
}
