.header__auth{
    font-size: 1em;
    border-bottom: none;
    width: inherit;
    padding: 0;
    order: -1;
    width: 119px;
    align-self: center;
    text-align: center;
    &:hover{
        cursor: pointer;
    }
}
.hidden{
    width: inherit;
}

.auth0{
    display: flex;
    padding-right: 1em;
  }
