.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  height: 13vh;
  top: 0;
  right: 0;
  z-index: 3;
  background-color: white;
  @media (max-width: $iphonemedia) {
    height: 10vh;
    // padding: 10% 0;
  }
}

.header__name {
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 5em;
  flex-grow: 1;
  color: $babyblue;
  text-decoration: none;
  margin-left: 16px;

  @media (max-width: $iphonemedia) {
    font-size: 2em;
    flex-grow: 1;
  }
}

.header__icon {
  background-image: url("../img/goaticon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  flex-grow: 2;
  @media (max-width: $iphonemedia) {
    background-size: 50%;
    margin-top: 50%;
  }
} //GOAT ICON FOR NAV BAR

.accountToggle{
   background-image: url('../img/account.svg');
   background-size: cover;
   background-repeat: no-repeat;
   width: 50px;
   height: 50px;
   display: block;
   @media (max-width: $iphonemedia) {
    width: 25px;
    height: 25px;
  }
}
.header__extralinks {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;

  font-family: $bodyfont;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  align-items: center;
  a,
  li {
    text-decoration: none;
    color: $babyblue;
    margin: 0 2%;
    &:hover {
      color: $browngold;
    }
  }
  @media (max-width: $smallphonemedia) {
    font-size: 1em;
    justify-self: flex-end;
    a,
    li {
      margin-left: auto;
      padding-bottom: 1em;
    }
  }
  @media (max-width: $iphonemedia) {
    font-size: 1em;
    display: inline-block;
    a,
    li {
      padding-bottom: 1em;
    }
  }
}

.activeLink {
  color: $browngold;
  &:hover {
    color: $babyblue;
  }
}
