.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header__name {
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 5em;
  flex-grow: 1;
  color: black;
  text-decoration: none;
  margin-left: 16px;
  &:hover {
    color: $babyblue;
  }
}

.header__icon {
  background-image: url("../img/goaticon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  flex-grow: 2;
} //GOAT ICON FOR NAV BAR

.header__extralinks {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;

  font-family: "Baloo Tammudu", cursive;
  font-size: 2em;
  a {
    text-decoration: none;
    color: $browngold;
    margin: 0 2%;
    &:hover {
      color: $babyblue;
    }
  }
}
