.index {
  height: 100vh;
  //   background-color: red;
  font: $headingfont;
}

.imgShuffle {
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 70vh;
  .imgCaption {
    font-family: $headingfont;
    font-weight: bold;
    letter-spacing: 10px;
    color: #fff;
    font-size: 7em;
    display: block;
    text-transform: uppercase;
    text-shadow: #fff 1px 1px 5px;
  }
}
