.products {
  margin-top: 16vh;
  margin-left: 1em;
  font-family: $bodyfont;
}
.products__header_admin {
  font-weight: bold;
}
.products__filter {
  margin-top: 2em;
  width: 100%;
  display: flex;
}
.products__forms {
  margin: 0 1em;
}
.products__form {
  margin: 0 1%;
  select {
    width: 200px;
    height: 3em;
    border: none;
    border-bottom: 5px solid $babyblue;
    font-size: 1.25em;
    @media (max-width: $iphonemedia) {
      width: 100px;
      height: 1.5em;
      margin: 0 1em;
    }
  }
}
.form__title {
  font-size: 2.5em;
  margin-bottom: 0.35em;
}
.product__cards {

  letter-spacing: 1.5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  .product__card {

    position: relative;
    text-align: center;
    text-transform: uppercase;
    min-width: 25%;
    margin: 3% 0;
    @media (max-width: $iphonemedia) {
      display: block;
      padding: 1em;
    }
  }
}

.product__card__title {
  font-size: 2.25em;
  font-family: $bodyfont;
}
.product__img {
  width: 100%;
  height: 100%;
  &:hover {
    animation: moveUp 3s ease;
  }
}
.product__card_price,
.product__card_quanity {
  font-size: 1.75em;
}
.product__controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 0.5em;
}
.product__card_cart-btn,
.product__card-addToCart-btn {
  font-size: 2em;
  padding: 5px 10px;
  margin-top: 15px;
  width: 50%;
  align-self: center;
}
.product__card-addToCart-btn {
  color: #fff;
  background-color: #000;
  border-radius: 20px;
  &:hover {
    color: #000;
    background-color: #fff;
  }
}

button {
  margin: 0 7px;
  font-size: 1.5em;
  outline: none;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid black;

  &:hover,
  &:active {
    background-color: #000;
    color: #fff;
    border-radius: 20px;
  }
}
@keyframes moveUp {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.05);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.itemOnSale {
  background: url("../img/saleicon.png");
  background-repeat: no-repeat;
  background-size: 3em;
  z-index: -1;
  height: 3em;
  width: 3em;
  position: absolute;
  transform: skew(20deg);
  transform: rotate(-20deg);
  top: -10px;
  left: -10px;
  animation: saleIconDance 3s infinite;
}
.errorHandler{
  font-size: 5em;
  text-align: center;

}

@keyframes saleIconDance {
  0% {
    transform: skew(25deg);
    transform: rotate(-25deg);
  }
  50% {
    transform: skew(-25deg);
    transform: rotate(25deg);
  }
  100% {
    transform: skew(25deg);
    transform: rotate(-25deg);
  }
}
