$browngold: #a14617;

$babyblue: #68ccfd;

$babybluelight: #8b9ca4;

$bodyfont: "Kosugi", sans-serif;

$headingfont: "Kosugi", sans-serif;

$ipadmedia: 1085px;

$iphonemedia: 650px;

$smallphonemedia: 375px;

$menuiconbreakpoint: 999px;
