/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: black;
}

h1 {
  font-family: "Kosugi", sans-serif;
  font-size: 3em;
  font-weight: bold;
  margin-left: 3px;
  padding-bottom: 5px;
  border-bottom: 1px solid #000;
  text-transform: uppercase;
  display: inline-block;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px 0;
  position: fixed;
  width: 100%;
  height: 13vh;
  top: 0;
  right: 0;
  z-index: 3;
  background-color: white;
}

@media (max-width: 650px) {
  .header {
    height: 10vh;
  }
}

.header__name {
  font-family: "Libre Barcode 128 Text", cursive;
  font-size: 5em;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  color: #68ccfd;
  text-decoration: none;
  margin-left: 16px;
}

@media (max-width: 650px) {
  .header__name {
    font-size: 2em;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.header__icon {
  background-image: url("../img/goaticon.svg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

@media (max-width: 650px) {
  .header__icon {
    background-size: 50%;
    margin-top: 50%;
  }
}

.accountToggle, .contactToggle {
  background-size: cover;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  display: block;
}

@media (max-width: 650px) {
  .accountToggle, .contactToggle {
    width: 25px;
    height: 25px;
  }
}

.accountToggle {
  background-image: url("../img/account.svg");
}

.contactToggle {
  background-image: url("../img/phone-book.svg");
  margin-top: 5px;
}

.header__extralinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-family: "Kosugi", sans-serif;
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__extralinks a,
.header__extralinks li {
  text-decoration: none;
  color: #68ccfd;
  margin: 0 2%;
}

.header__extralinks a:hover,
.header__extralinks li:hover {
  color: #a14617;
}

@media (max-width: 375px) {
  .header__extralinks {
    font-size: 1em;
    justify-self: flex-end;
  }
  .header__extralinks a,
  .header__extralinks li {
    margin-left: auto;
    padding-bottom: 1em;
  }
}

@media (max-width: 650px) {
  .header__extralinks {
    font-size: 1em;
    display: inline-block;
  }
  .header__extralinks a,
  .header__extralinks li {
    padding-bottom: 1em;
  }
}

.activeLink {
  color: #a14617;
}

.activeLink:hover {
  color: #68ccfd;
}

.index {
  font-family: "Kosugi", sans-serif;
  margin-top: 13vh;
}

.duragShuffle {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  height: 80vh;
}

@media (max-width: 650px) {
  .duragShuffle {
    height: 50vh;
  }
}

.imgCaption {
  font-family: "Kosugi", sans-serif;
  font-weight: bold;
  letter-spacing: 10px;
  color: #fff;
  font-size: 7em;
  display: block;
  text-transform: uppercase;
  text-shadow: #fff 1px 1px 5px;
  border: none !important;
}

@media (max-width: 650px) {
  .imgCaption {
    font-size: 4em;
  }
}

.durag__hero_btn {
  font-size: 5em;
  position: absolute;
  bottom: 2em;
  text-transform: uppercase;
  background-color: #68ccfd;
  border: none;
  color: white;
  text-decoration: none;
  font-family: "Kosugi", sans-serif;
}

.homebody__hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homebody__hero .shorts__background,
.homebody__hero .durag__background {
  background-size: cover;
  background-repeat: no-repeat;
  width: 50vw;
  height: 80vh;
}

@media (max-width: 650px) {
  .homebody__hero .shorts__background,
  .homebody__hero .durag__background {
    width: 100%;
    height: 50vh;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.homebody__hero .shorts__background {
  background-image: url("../img/shortshero/shorthero1.jpg");
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.homebody__hero .durag__background {
  background-image: url("../img/hero/hero33.png");
  margin-top: 10vh;
}

@media (max-width: 650px) {
  .homebody__hero .durag__background {
    margin: 0;
  }
}

.homebody__hero .hero__captions {
  width: 50%;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  justify-items: center;
  text-align: center;
  letter-spacing: 5px;
}

.homebody__hero .hero__captions .hero__caption__header {
  font-size: 5em;
  display: block;
  text-transform: uppercase;
}

@media (max-width: 650px) {
  .homebody__hero .hero__captions .hero__caption__header {
    font-size: 2em;
    text-align: center;
    margin: auto;
    display: block;
  }
}

@media (max-width: 650px) {
  .homebody__hero .hero__captions {
    margin: 10px auto;
  }
}

@media (max-width: 650px) {
  .homebody__hero {
    display: block;
  }
}

.shop__link {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-top: 1em;
  padding: 0.5em;
  width: 20vw;
  background-color: #68ccfd;
  font-size: 3em;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

.shop__link:hover {
  background-color: #a14617;
}

@media (max-width: 650px) {
  .shop__link {
    font-size: 1.5em;
    width: 100%;
  }
}

.products {
  margin-top: 16vh;
  margin-left: 1em;
  font-family: "Kosugi", sans-serif;
}

.products__header_admin {
  font-weight: bold;
}

.products__filter {
  margin-top: 2em;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.products__forms {
  margin: 0 1em;
}

.products__form {
  margin: 0 1%;
}

.products__form select {
  width: 200px;
  height: 3em;
  border: none;
  border-bottom: 5px solid #68ccfd;
  font-size: 1.25em;
}

@media (max-width: 650px) {
  .products__form select {
    width: 100px;
    height: 1.5em;
    margin: 0 1em;
  }
}

.form__title {
  font-size: 2.5em;
  margin-bottom: 0.35em;
}

.product__cards {
  letter-spacing: 1.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product__cards .product__card {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  min-width: 25%;
  margin: 3% 0;
}

@media (max-width: 650px) {
  .product__cards .product__card {
    display: block;
    padding: 1em;
  }
}

.product__card__title {
  font-size: 2.25em;
  font-family: "Kosugi", sans-serif;
}

.product__img {
  width: 100%;
  height: 100%;
}

.product__img:hover {
  -webkit-animation: moveUp 3s ease;
          animation: moveUp 3s ease;
}

.product__card_price,
.product__card_quanity {
  font-size: 1.75em;
}

.product__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 0.5em;
}

.product__card_cart-btn,
.product__card-addToCart-btn {
  font-size: 2em;
  padding: 5px 10px;
  margin-top: 15px;
  width: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.product__card-addToCart-btn {
  color: #fff;
  background-color: #000;
  border-radius: 20px;
}

.product__card-addToCart-btn:hover {
  color: #000;
  background-color: #fff;
}

button {
  margin: 0 7px;
  font-size: 1.5em;
  outline: none;
  background-color: #fff;
  color: #000;
  text-transform: uppercase;
  border: none;
  border-bottom: 1px solid black;
}

button:hover, button:active {
  background-color: #000;
  color: #fff;
  border-radius: 20px;
}

@-webkit-keyframes moveUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes moveUp {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

.itemOnSale {
  background: url("../img/saleicon.png");
  background-repeat: no-repeat;
  background-size: 3em;
  z-index: -1;
  height: 3em;
  width: 3em;
  position: absolute;
  -webkit-transform: skew(20deg);
          transform: skew(20deg);
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
  top: -10px;
  left: -10px;
  -webkit-animation: saleIconDance 3s infinite;
          animation: saleIconDance 3s infinite;
}

.errorHandler {
  font-size: 5em;
  text-align: center;
}

@-webkit-keyframes saleIconDance {
  0% {
    -webkit-transform: skew(25deg);
            transform: skew(25deg);
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  50% {
    -webkit-transform: skew(-25deg);
            transform: skew(-25deg);
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  100% {
    -webkit-transform: skew(25deg);
            transform: skew(25deg);
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
}

@keyframes saleIconDance {
  0% {
    -webkit-transform: skew(25deg);
            transform: skew(25deg);
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
  50% {
    -webkit-transform: skew(-25deg);
            transform: skew(-25deg);
    -webkit-transform: rotate(25deg);
            transform: rotate(25deg);
  }
  100% {
    -webkit-transform: skew(25deg);
            transform: skew(25deg);
    -webkit-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
}

.contactpage {
  margin-top: 16vh;
  position: relative;
  font-family: "Kosugi", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactpage a {
  color: black;
  text-decoration: none;
}

.contactpage a:hover {
  color: #68ccfd;
}

@media (max-width: 1085px) {
  .contactpage {
    display: block;
  }
}

.contact__left_col {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin-left: 1em;
}

.contact__left_col .contact__pri_header {
  font-size: 3em;
  font-weight: bold;
  position: absolute;
  top: 0;
}

@media (max-width: 1085px) {
  .contact__left_col .contact__pri_header {
    position: relative;
    margin-bottom: 1em;
  }
}

.contact__left_col .contact__sec_header {
  font-size: 2em;
}

@media (max-width: 650px) {
  .contact__left_col .contact__sec_header {
    margin-bottom: 1em;
  }
}

.contact__left_col p {
  margin: 2.5% 0;
  font-size: 1.25em;
}

@media (max-width: 650px) {
  .contact__left_col p {
    margin-bottom: 1em;
  }
}

.contact__form {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 2%;
}

.contact__form label {
  font-size: 1.25em;
  margin-bottom: 10px;
}

@media (max-width: 1085px) {
  .contact__form label {
    margin-left: 16px;
  }
}

.contact__form input,
.contact__form textarea {
  height: 75px;
  width: 100%;
  border: none;
  border-bottom: 2px solid #eee;
  font-size: 2em;
  resize: none;
  text-align: center;
}

@media (max-width: 1085px) {
  .contact__form input,
  .contact__form textarea {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
}

.contact__form textarea {
  height: 120px;
  text-align: left;
}

.contact__form #submitButton {
  margin: 15px 0;
  width: 50%;
  border: 2px solid #a14617;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: black;
  color: #fff;
  text-transform: uppercase;
}

.contact__form #submitButton:focus, .contact__form #submitButton:hover {
  background-color: #fff;
  color: #000;
  cursor: pointer;
}

.footer {
  position: absolute;
  bottom: 0;
  height: 250px;
  background-color: black;
  color: #fff;
  font-family: "Kosugi", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 5%;
  position: relative;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer a:hover {
  color: #68ccfd;
}

@media (max-width: 650px) {
  .footer {
    height: 400px;
  }
}

.footer__top_middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__top_middle p,
.footer__top_middle a {
  padding: 0 15px;
  border-left: 1px solid #eee;
}

.footer__top_middle p:nth-last-of-type(odd) {
  border-right: 1px solid #eee;
}

@media (max-width: 1085px) {
  .footer__top_middle p:nth-last-of-type(odd) {
    font-size: 0.75em;
    border: none;
  }
}

@media (max-width: 650px) {
  .footer__top_middle {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer__top_middle p,
  .footer__top_middle a {
    padding-bottom: 6%;
    border: none;
  }
}

.footer__socialmedia {
  margin-top: 5%;
  display: inline-block;
}

.footer__socialmedia a {
  padding: 5px 10px;
  color: white;
}

.footer__socialmedia a i {
  font-size: 2em;
}

@media (max-width: 650px) {
  .footer__socialmedia {
    margin: 5% 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer__small {
  padding-top: 5%;
  position: absolute;
  bottom: 0;
  margin-bottom: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1085px) {
  .footer__small {
    display: inline;
    margin-bottom: 7%;
  }
}

@media (max-width: 650px) {
  .footer__small {
    display: inline;
    margin-bottom: 7%;
  }
}

.footer__payment_options {
  position: absolute;
  right: 2%;
}

.footer__payment_options a {
  padding: 0 10px;
}

.footer__payment_options a i {
  font-size: 2.5em;
  color: white;
}

@media (max-width: 650px) {
  .footer__payment_options {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer__payment_options a,
  .footer__payment_options i {
    padding: 0 3px;
  }
}

.header__auth {
  font-size: 1em;
  border-bottom: none;
  width: 100%;
  padding: 0;
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.header__auth:hover {
  cursor: pointer;
}

.auth0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 1em;
}

.contactToggle {
  margin-top: .5em !important;
}

.products_manager_admin {
  position: relative;
  margin-top: 17vh;
  font-family: "VT323", monospace;
}

.products_manager_admin .button {
  font-family: "VT323", monospace;
  outline: none;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
}

.products_manager_admin .button:hover {
  opacity: 0.7;
}

.products_manager_admin .products__list_item_admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products_manager_admin .products__header_admin {
  width: 24%;
  padding: 20px 0;
}

.products_manager_admin .product__manager_controls_admin {
  margin-right: 30px;
}

.products_manager_admin .product__manager_controls_admin button {
  font-size: 3em;
  margin: 0 10px;
}

.products_manager_admin .product__manager_controls_admin .add__product-btn {
  background-image: url("../img/additem.svg");
  background-size: cover;
  margin-left: 90%;
  width: 70px;
  height: 70px;
}

.products_manager_admin .product__manager_controls_admin .add__product-btn:focus, .products_manager_admin .product__manager_controls_admin .add__product-btn:active {
  background-color: black;
}

.products_manager_admin .product__card_admin {
  -webkit-box-shadow: 0 7px 4px #777;
          box-shadow: 0 7px 4px #777;
  border-bottom: 5px solid #2D2D2D;
  border-top: 5px solid #2D2D2D;
  width: 86%;
  padding: 2em 0;
  border-radius: 20px;
  background-color: #fff;
  margin: 2em 0;
  color: #000;
  letter-spacing: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.products_manager_admin .proudct__top_info_admin {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-left: 10px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.products_manager_admin .product_id_admin {
  margin-top: 30px;
  font-size: 1.45em;
}

.products_manager_admin .product__title_admin {
  font-size: 2em;
  width: 250px;
  text-transform: uppercase;
  text-align: center;
  margin: auto 0 auto 20px;
  font-weight: bold;
}

.products_manager_admin .product__middle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.products_manager_admin .product__img_admin {
  height: 150px;
  width: 150px;
}

.products_manager_admin .product__description_admin {
  width: 60%;
  font-size: 1.65em;
  text-align: center;
}

.products_manager_admin .product__price_admin {
  font-size: 3em;
  margin-right: 30px;
  font-weight: bold;
}

.products_manager_admin .product__controls_admin {
  margin-right: 10px;
}

.products_manager_admin .product__controls_admin button {
  font-family: "VT323", monospace;
  font-size: 2em;
  width: 120px;
  outline: none;
  border-radius: 20px;
  padding: 5px 0;
  margin: .75em 0;
  text-transform: uppercase;
  display: block;
}

.products_manager_admin .product__controls_admin .product__edit_button {
  background-color: #4C9B3F;
}

.products_manager_admin .product__controls_admin .product__edit_button:focus, .products_manager_admin .product__controls_admin .product__edit_button:active {
  background-color: #f0f0f0;
  color: #4C9B3F;
}

.products_manager_admin .product__controls_admin .product__delete_button {
  background-color: #FF0015;
}

.products_manager_admin .product__controls_admin .product__delete_button:focus, .products_manager_admin .product__controls_admin .product__delete_button:active {
  background-color: #f0f0f0;
  color: #FF0015;
}

.productForm, .newProduct, .editProduct, #newForm {
  padding: 10px 0;
  -webkit-box-shadow: 0 7px 4px #777;
          box-shadow: 0 7px 4px #777;
  position: fixed;
  z-index: 20;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  width: 70%;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  border-radius: 30px;
}

.productForm ::-webkit-input-placeholder, .newProduct ::-webkit-input-placeholder, .editProduct ::-webkit-input-placeholder, #newForm ::-webkit-input-placeholder {
  text-transform: uppercase;
  color: #2D2D2D;
}

.productForm :-ms-input-placeholder, .newProduct :-ms-input-placeholder, .editProduct :-ms-input-placeholder, #newForm :-ms-input-placeholder {
  text-transform: uppercase;
  color: #2D2D2D;
}

.productForm ::-ms-input-placeholder, .newProduct ::-ms-input-placeholder, .editProduct ::-ms-input-placeholder, #newForm ::-ms-input-placeholder {
  text-transform: uppercase;
  color: #2D2D2D;
}

.productForm ::placeholder, .newProduct ::placeholder, .editProduct ::placeholder, #newForm ::placeholder {
  text-transform: uppercase;
  color: #2D2D2D;
}

.productForm input, .productForm textarea, .newProduct input, .newProduct textarea, .editProduct input, .editProduct textarea, #newForm input, #newForm textarea {
  height: 90px;
  width: 70%;
  border: none;
  border-bottom: 2px solid #eee;
  font-size: 2em;
  font-family: "VT323", monospace;
  text-align: center;
  margin: 0 auto;
}

.productForm input:focus, .productForm textarea:focus, .newProduct input:focus, .newProduct textarea:focus, .editProduct input:focus, .editProduct textarea:focus, #newForm input:focus, #newForm textarea:focus {
  outline: 2px solid #2D2D2D;
}

.productForm textarea, .newProduct textarea, .editProduct textarea, #newForm textarea {
  height: 120px !important;
  resize: none;
}

.productForm label, .newProduct label, .editProduct label, #newForm label {
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25em;
  margin: 3px;
}

.productForm .submitButton, .newProduct .submitButton, .editProduct .submitButton, #newForm .submitButton {
  width: 35%;
  font-size: 2.75em;
  margin: 20px 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #000;
  vertical-align: center;
  color: #fff;
}

.productForm .submitButton:focus, .productForm .submitButton:active, .newProduct .submitButton:focus, .newProduct .submitButton:active, .editProduct .submitButton:focus, .editProduct .submitButton:active, #newForm .submitButton:focus, #newForm .submitButton:active {
  background-color: #f0f0f0;
  color: #235789;
}

button:disabled,
button[disabled] {
  display: none;
}

.productFormSlideIn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.formOverlay, .deleteOverlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  background-color: rgba(45, 45, 45, 0.7);
}

.confirmationMessage {
  position: absolute;
  width: 50%;
  height: 250px;
  font-size: 4em;
  display: none;
  z-index: 20;
  background-color: #FF0015;
  text-align: center;
  border-radius: 30px;
}

.confirmationMessage .confirmationButton {
  font-size: 1em;
  margin: 1rem;
}

.confirmationMessage .noDelete {
  color: #4C9B3F;
}

.confirmationMessage .yesDelete {
  background-color: #fff;
  color: #000;
}

.admin__header_links {
  padding: 20px 0;
  margin-left: 16px;
  border-bottom: 2px solid #000;
  display: inline;
  font-size: 3em;
  padding-bottom: 7px;
  text-transform: uppercase;
  font-family: "VT323", monospace;
  text-decoration: none;
  display: inline-block;
}

.admin__header_links a {
  color: black;
}

.admin__header_links:hover {
  color: #68ccfd;
}

.contact {
  width: 20%;
}

.admin__header {
  margin-left: 30px;
}

.contact__admin {
  position: relative;
  margin-top: 17vh;
  font-family: "VT323", monospace;
}

.contact_header__admin {
  margin-left: 16px;
  border-bottom: 3px solid #000;
  display: inline;
  font-size: 4em;
  padding-bottom: 7px;
  text-transform: uppercase;
  font-family: "VT323", monospace;
}

.contact_cards__admin {
  padding-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  height: 100%;
}

.contact_card__admin {
  width: 43%;
  max-width: 750px;
  height: 320px;
  border-radius: 20px;
  margin: 2em 0;
  -webkit-box-shadow: 0 7px 4px #777;
          box-shadow: 0 7px 4px #777;
  border-bottom: 5px solid #2D2D2D;
  border-top: 5px solid #2D2D2D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.submitted__time {
  position: absolute;
  top: -30px;
  right: 10px;
  text-transform: uppercase;
}

.customer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 75%;
  border-left: 5px solid #2D2D2D;
  padding: 40px;
}

.customer__info a {
  color: #68ccfd;
  text-decoration: none;
}

.customer__info a:hover {
  color: #8b9ca4;
}

.customer__email, .customer__phn {
  font-size: 2em;
  font-style: italic;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 0;
  padding: .25em 0;
  text-align: center;
}

.customer__email {
  text-transform: uppercase;
}

.customer__name {
  text-transform: uppercase;
  font-size: 2.5em;
  font-weight: bold;
  justify-self: baseline;
  margin-bottom: .5em;
  padding-bottom: 7px;
  border-bottom: 5px solid #2D2D2D;
}

.customer__message {
  font-size: 2em;
  width: 60%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  padding: 40px;
}
/*# sourceMappingURL=App.css.map */