.contact__admin{
    position: relative;
    margin-top: 16vh;
    // background-color: $dark-grey;
    // color: #fff;
    font-family: $vt-font;
}
.contact_header__admin{
    margin-left: 16px;
  border-bottom: 3px solid #000;
  display: inline;
  font-size: 4em;
  padding-bottom: 7px;
  text-transform: uppercase;
  font-family: $vt-font;
//   padding: 20px 0;

}
.contact_cards__admin{
      padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact_card__admin{
    padding: 1.5em 0;
    width: 86%;
    // height: 230px;
    // background-color: red;
    border-radius: 20px;
    margin: 2em 0;
    box-shadow: 0 7px 4px #777;
    border-bottom: 5px solid $dark-grey;
    border-top: 5px solid $dark-grey;
    display: flex;
    justify-content: space-between;
    position: relative;
// align-items: center;
}
.submitted__time{
position: absolute;
top: -30px;
text-transform: uppercase;
}
.customer__info{
    display: flex;
    flex-direction: column;
    margin-left: 2em;


   a{
       color: $babyblue;
       text-decoration: none;
        &:hover{
            color: $babybluelight;
        }
   }
}
.customer__email, .customer__phn{
    font-size: 2em;
    font-style: italic;
    align-self: center;
    padding: 0;
    width: 50%;
    padding: .25em 0 ;

}
.customer__email{

    text-transform: uppercase;

}
.customer__name{
    text-transform: uppercase;
    font-size: 3em;
    font-weight: bold;
    justify-self: baseline;
    margin-bottom: .5em;
    padding-bottom: 7px;
    border-bottom: 5px solid $dark-grey;
}
.customer__message{
    padding: 0 .5em;
    font-size: 2em;
    width: 60%;
    align-self: center;
    text-align: center;

}