.header{

    width: 100%;
    background-color: #000;

}

.header__primary_heading, .header__primary_span{
    font-family: $vt-font;
    padding: .25em 0;
}
.header__primary_heading {
    font-size: 6em;
    color: white;
    margin-left: 30px;
}
.header__primary_span{
color: red;

text-transform: uppercase;

}